# 8051 Assembly Related Files
*.lst
*.LST
*.hex
*.HEX

# 8051 C Related Files
*.obj
*.OBJ
*.ihx
*.IHX
*.map
*.MAP
*.mem
*.MEM
*.rel
*.REL
*.rst
*.RST
*.sym
*.SYM
*.dev
*.DEV
*.lnk
*.lk
8051_C/*.asm
8051_C/*.ASM
